*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:wght@100&display=swap');
body{
    font-family: 'Dongle', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}
p{
    margin: 0.7rem 0;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-centre{
    text-align: center;
}

.text-primary{
    color: #fff;
}
.text-secondary{
    color: #000;
}
.text-tertery{
    color: #FFFF00;
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem ;}
.p-2{padding: 2rem ;}
.p-3{padding: 3rem ;}

.bg-light{
    background: #fff;
    color: #000;
}

.bg-dark{
    background: rgba(0, 0, 0, 0.897);
    color: #fff;
}
.bg-primary{
    background-color: rgba(0, 0, 0, 0.897);
    color: #fff;
}


.btn{
    display: inline-block;
    color: #000;
    background: hsl(60, 85%, 41%);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background: #FFFF00;
    color: #000d;
}


.list{
    margin: 0.5rem 0;
    list-style:none;
}

.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

#navbar{
    display: flex;
    position: sticky;
    top: 0%;
    background: rgba(0, 0, 0, 0.897);
    color: #FFFF00;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #FFFF00;
    padding: 0.75rem ;
    margin:0 0.25rem;
}

#navbar ul li a:hover{
    color: #000;
    background: #FFFF00;
    border-radius: 5px;
}

/*this is header*/
#showcase{
    background:#000 url('../image/imagesss.jpg') 
    no-repeat center center/cover;
    height: 100vh;
    color: #ffff;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}


#about .items{
    display: flex;
}

#about .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#about .item i{
    background: #FFFF00;
    border-radius: 50%;
    padding:  1rem;
    margin-bottom: 1rem;
    color: #000;
}

#about h2{
    color: #FFFF00;
}

#who{
    display: flex;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url('../image/image.jpg')no-repeat center center/cover;
}
#who h2{
    color: #FFFF00;
}

#shop{
    text-align: center;
}

#shop .all{
    display: flex;
}

#shop .items{
   text-align: center;
}
#shop .form-group{
    margin: 0.75rem;
}



#contact{
    display: flex;
}

#contact .map, #contact .contact-form{
    flex: 1;
}

#contact .contact-form .form-group{
    margin: 0.75rem;
}

#contact .contact-form label{
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
